@{
    ViewBag.Title = "O projektu";
}

<h3>@ViewBag.Message</h3>

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <p>Postoji već mnogo stranica koje omogućavaju lakšu organizaciju svakodnevnih zadataka, vremena (kako radnog ,tako i slobodnog),obaveza i slično.</p>
            <p>Neke od njih se plaćaju, a neke su besplatne, baš kao i ova. Ova aplikacija je još jedna u nizu onih koja je tu za Vas u vremena kad vas pamćenje više ne služi. </p>
            <p>Drvo je bolje trošiti na grijanje nego na papir po kojem bi pisali naše obaveze. Neka to bude razlog više za korištenje ove aplikacije.</p>
         </div>
    </div>
</div>
