@{
    ViewBag.Title = "Potvrda zaboravljene lozinke";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Molimo Vas, provjerite svoj mejl kako bi resetirali zaporku.
    </p>
</div>
	
