@{
    ViewBag.Title = "Potvrda resetiranja zaporke";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Vasa zaporka je resetirana. Molimo @Html.ActionLink("kliknite ovdje za prijavu", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
